* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: black;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #080908, #00FF00);
    margin: 0;
    overflow: auto;
}

/* Header */
.banner {
    background-color: #00FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    flex-wrap: nowrap;
    z-index: 1;
}

h1 {
    font-size: 36px;
    position: absolute;
    /* Változtatás: relative-ről absolute-re */
    text-align: center;
    margin: 0;
    flex: 1;
    z-index: 2;
    left: 50%;
    /* Új sor */
    transform: translateX(-50%);
    /* Új sor */
    order: 2;
}

nav ul {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    top: 50px;
    right: 0;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul.show {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.icons {
    display: flex;
    gap: 10px;
    order: 3;
}

.icons a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Hamburger Menü */
.hamburger-menu {
    display: none;
    /* Változtatás: inline-block-ról none-ra */
    cursor: pointer;
    position: relative;
    z-index: 3;
    order: 1;
}

.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}




/* kártya */
.card {
    flex: 1 1 calc(25% - 20px); /* 4 kártya egy sorban, kis margóval */
    background-color: white;
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    background-color: white !important; /* Hover esetén is fehér háttér */
    transform: scale(1.05);
}

.card img {
    width: 100%; /* A kép szélessége igazodik a kártyához */
    height: 150px; /* Fix magasság beállítása */
    object-fit: contain; /* A teljes kép látszódik torzítás nélkül */
    border-radius: 5px;
    display: block; /* Eltávolítja az esetleges extra margókat */
    background-color: white; /* Ha a kép nem tölti ki a helyet, fehér háttér legyen */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.card-footer p {
    font-size: 1.5rem;
    text-align: center;
}

.card-footer button {
    font-size: 1.2rem;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-footer button:hover {
    background-color: #00cc00;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.quantity button {
    background-color: #00FF00;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.add-to-cart {
    background-color: #1B3C74;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
/* Gördülő kosár menü stílusai */
.cart-container {
    position: relative;
}

.cart-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.cart-dropdown {
    display: none; /* Alapértelmezettként elrejtve */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.cart-dropdown.active {
    display: block; /* Megjelenik, ha az "active" osztály hozzáadódik */
}

#cart-items-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-items-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

#cart-items-list li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#cart-items-list li button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.checkout-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #00FF00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.checkout-button:hover {
    background-color: #00cc00;
}


.features {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
    text-align: left;
}

.features li {
    background-color: #b5becc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    color: #00FF00;
    border: none;
    cursor: pointer;
}

/* Footer stílusok */
.footer {
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer-link:hover {
    color: gray;
    transition: color 0.3s ease-in-out;
}

.text-container p {
    display: block;
    text-align: left;
}

/* Mobilnézethez reszponzív módosítások */
@media only screen and (max-width: 768px) {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        position: relative;
    }

    .hamburger-menu {
        display: block;
        /* Mobil nézetben jelenjen meg */
        font-size: 30px;
        color: black;
        cursor: pointer;
        position: relative;
        order: 1;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #00FF00;
        width: 100%;
        padding: 10px;
        gap: 10px;
        z-index: 2;
    }

    nav ul.show {
        display: flex;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        flex: 1 0 100%;
        margin: 10px 0;
        height: auto;
    }

    .card-body,
    .card-footer {
        height: auto;
    }

    .pic-div {
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
    }

    .banner {
        background-color: #00FF00;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        position: relative;
        z-index: 1;
    }

    .banner h1 {
        font-size: 30px;
        text-align: center;
        z-index: 2;
        position: absolute;
        /* Mobil nézetben is legyen középre igazítva */
        left: 50%;
        /* Új sor */
        transform: translateX(-50%);
        /* Új sor */
    }

    .icons {
        order: 3;
        justify-content: flex-end;
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-link {
        display: block;
        margin-bottom: 10px;
    }

    .text-container p {
        margin-bottom: 20px;
        line-height: 1.6;
    }
}