* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: black;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(to right, #080908, #00FF00);
    overflow: auto;
}

/* Header */
.banner {
    background-color: #00FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Vékonyabb fejléc */
    position: relative;
    z-index: 1;
    height: 60px;
    /* Fix magasság beállítása */
}

h1 {
    font-size: 24px;
    /* Kisebb betűméret */
    text-align: center;
    margin: 0;
    order: 2;
    flex: 1;
    position: absolute;
    /* Középre helyezés */
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    order: 1;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.icons {
    display: flex;
    gap: 10px;
    order: 3;
}

.icons a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.text-container p {
    display: block;
    text-align: left;
}

/* Hamburger Menü */
.hamburger-menu {
    display: none;
}

/* Footer */
.footer {
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

.footer-link:hover {
    color: gray;
    transition: color 0.3s ease-in-out;
}

.footer-brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* Ország választó stílusok */
.container {
    text-align: center;
    padding: 20px;
    background-image: url('../img/flag/background.jpg');
    background-size: cover;
    background-position: center;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Három oszlopos rács */
    gap: 20px;
    justify-content: center;
}

.country {
    text-align: center;
}

.country img {
    max-width: 100px;
    margin-bottom: 10px;
}

.country p {
    font-size: 14px;
    margin-top: 5px;
    color: black;
}

/* Mobil nézethez szükséges beállítások */
@media only screen and (max-width: 768px) {
    .countries {
        grid-template-columns: repeat(1, 1fr);
        /* Egy oszlopos elrendezés mobil nézetben */
    }

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        position: relative;
    }

    .hamburger-menu {
        display: block;
        /* Mobil nézetben jelenjen meg */
        font-size: 30px;
        color: black;
        cursor: pointer;
        position: relative;
        order: 1;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #00FF00;
        width: 100%;
        padding: 10px;
        gap: 10px;
        z-index: 2;
    }

    nav ul.show {
        display: flex;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        flex: 1 0 100%;
        margin: 10px 0;
        height: auto;
    }

    .card-body,
    .card-footer {
        height: auto;
    }

    .pic-div {
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
    }

    .banner {
        background-color: #00FF00;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        position: relative;
        z-index: 1;
    }

    .banner h1 {
        font-size: 30px;
        text-align: center;
        z-index: 2;
        position: relative;
    }

    .icons {
        order: 3;
        justify-content: flex-end;
        width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .text-container {
        width: 100%;
    }

    .text-container p {
        margin-bottom: 20px;
        line-height: 1.6;
    }
}


